.actual{
    min-height: 440px!important;
}

.table-striped th, .table-striped td {
    padding: 15px 20px;
}

 .pricing {
    border: 2px solid transparent;
    transition: ease border 300ms;
    min-height: 780px!important;
    
}